<%= form_with(model: @user, url: reset_password_path(token: params[:token], purpose: 'password reset'), class: "box is-primary h-fit w-1/2 my-auto bg-white p-10 flex flex-col", method: :patch) do |form| %>
  <h1 class="text-primary text-2xl mb-5 font-bold">Register</h1>
  <div class="flex flex-col gap-5 my-auto">
    <div class="password-container">
      <%= render "shared/password_field", form: form, object: @user, field: :password %>
    </div>
    <div class="password-container">
      <%= render "shared/password_field", form: form, object: @user, field: :password_confirmation %>
    </div>
    <div class="field is-grouped font-medium">
      <div class="control">
        <%= form.submit 'Register', class: "button is-link" %>
      </div>
      <div class="control">
        <%= link_to "Cancel", reset_password_path(token: params[:token], purpose: 'password reset'), class: "button is-link is-light" %>
      </div>
    </div>
  </div>
</div>
<% end %>
