<%= form_with(model: @user, url: forget_password_path, class: "box is-primary my-auto h-full w-1/2 bg-white p-10 flex flex-col", method: :post) do |form| %>
  <h1 class="text-primary text-2xl mb-5 font-bold">Forget Password</h1>
  <div class="my-auto flex flex-col gap-5">
    <div class="field">
      <%= form.label :email, class: "label required" %>
      <div class="control">
        <%= form.text_field :email, class: "input" %>
      </div>
    </div>
    <div class="field is-grouped items-center font-medium">
      <div class="control">
        <%= form.submit 'Send Link', class: "button is-link" %>
      </div>
      <div class="control">
        <%= link_to "Cancel", forget_password_path, class: "button is-link is-light" %>
      </div>
    </div>
  </div>
<% end %>
