<div id="budget-item" class="box flex flex-col gap-5" data-category-id="<%= budget.category_id %>" data-month="<%= budget.month %>" >
  <div class="flex flex-col gap-1">
    <div class="title flex items-center justify-between">
      <span class="flex items-center gap-2">
        <span class="text-2xl">Category:</span>
        <span class="text-xl">
          <%= get_category_name(budget.category_id) %>
        </span>
      </span>
      <span class="icon-text has-text-dark ">
        <span class="icon">
          <i class="fa-solid fa-indian-rupee-sign"></i>
        </span>
        <span>
          <%= budget.amount %>
        </span>
      </span>
    </div>
    <% if budget.subcategory_id %>
      <div class="subtitle flex items-center has-text-grey gap-2">
        <span class="text-lg">Sub-Category:</span>
        <span class="text-base">
          <%= get_subcategory_name(budget.subcategory_id) %>
        </span>
      </div>
    <% end %>
  </div>
  <div class="flex flex-col gap-3">
    <div>
      <span class="font-bold flex gap-2">
        <span>Month:</span>
        <%=  Date::MONTHNAMES[budget.month] %>
      </span>
    </div>
    <% if !budget.notes.blank? %>
      <div class="flex font-bold flex-col gap-2">
        <span>Note:</span>
        <p class="font-light">
          <%= budget.notes %>
        </p>
      </div>
    <% end %>
  </div>
  <span class="ml-auto has-text-grey text-sm font-thin">
    <%= time_ago_in_words(budget.created_at) %>
  </span>
</div>
