<%= form_with(model: @credit, url: credits_path, class: "credit-form flex flex-col gap-2", id: "new_credit_form") do |form| %>
  <div class="flex gap-16">
    <div class="field flex flex-col flex-grow ">
      <%= form.label :amount, class: "label" %>
      <p class="control has-icons-left">
        <%= form.number_field :amount, class: "input" %>
        <span class="icon is-small is-left">
          <i class="fa-solid fa-indian-rupee-sign"></i>
        </span>
      </p>
    </div>
    <div class="field flex flex-col flex-grow">
      <%= form.label :date, "Date", class: "label" %>
      <div class="control">
        <%= form.date_field :date, class: "input" %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= form.label :beneficiary_user_id, "Beneficiary User", class: "label" %>
    <div class="control">
      <%= form.select :beneficiary_user_id, options_for_select(User.all.map { |user| [user.name, user.id] }), { prompt: "Select Beneficiary User" }, class: "input" %>
    </div>
  </div>
  <div class="field is-grouped flex gap-2">
    <div class="control font-medium">
      <%= form.submit "Create", class: "button is-primary" %>
    </div>
    <div class="control font-medium">
      <%= link_to "Cancel", new_credit_path, class: "button" %>
    </div>
  </div>
</div>
<% end %>
