<nav class="navbar container h-fit w-full top-0 is-spaced shadow-md" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: "flex pr-5" do %>
      <%= image_tag("logo-full", alt: "Logo", class: "my-auto w-48" )%>
    <% end %>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      <% if !Current.user %>
        <%= link_to "Home", home_path, class: "navbar-item button is-primary is-inverted hover:font-medium" %>
      <% end %>
    </div>
    <div class="navbar-end">
      <% if Current.user %>
        <span class="navbar-item font-medium text-md has-text-grey">
          <%= Current.user[:email] %>
        </span>
      <% end %>
      <div class="navbar-item ">
        <div class="buttons">
          <% if Current.user %>
            <%= link_to "Logout", logout_path, method: :delete, class: "button font-medium is-danger is-light border-2 border-red-600 "%>
          <% else %>
            <%= link_to "Register", login_path, class: "button is-primary font-medium" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
<%= javascript_pack_tag 'shared/navbar' %>
