<div class="field">
  <%= form.label field, field.to_s.humanize, class: "label required" %>
  <div class="control relative group">
    <%= form.password_field field, class: "input password-field", placeholder: field %>
    <span class="icon is-right cursor-pointer has-text-grey absolute top-1/2 -translate-y-1/2 right-0 -translate-x-1/2 group-focus-within:text-black toggle-password">
      <i class="fa-solid fa-eye cursor-pointer"></i>
    </span>
  </div>
  <% if local_assigns[:single] %>
    <%= render "shared/form_error_message", object: object, field: field, single: single %>
  <% else %>
    <%= render "shared/form_error_message", object: object, field: field %>
  <% end %>
</div>
<%= javascript_pack_tag "toggle_password" %>
