<%= form_with(model: @wallet, url: wallets_path, class: "flex flex-col gap-5") do |form| %>
  <div class="flex items-center gap-16">
    <div class="field flex-grow">
      <%= form.label :amount, class: "label required" %>
      <div class="control has-icons-left">
        <%= form.number_field :amount, class: "input" %>
        <span class="icon is-small is-left">
          <i class="fa-solid fa-indian-rupee-sign"></i>
        </span>
      </div>
      <%= render "shared/form_error_message", object: @wallet, field: :amount %>
    </div>
    <div class="field flex-grow">
      <%= form.label :month, "Select Month", class: "label required" %>
      <div class="control">
        <%= form.select :month, options_for_select(Date::MONTHNAMES.compact.map.with_index(1).to_a, nil), { prompt: "Select Month" }, { class: "input", id: "month_select" } %>
      </div>
      <%= render "shared/form_error_message", object: @wallet, field: :month %>
    </div>
  </div>
  <div class="field">
    <div class="control font-medium">
      <%= form.submit "Add Wallet Amount", class: "button is-primary " %>
    </div>
  </div>
<% end %>
