<%= form_with(model: @expenses, url: expenses_path, class: "flex", id: "expenses_filter") do |form| %>
  <div class="field flex flex-col flex-grow">
    <%= form.label :filter_month, "Filter Month", class: "label" %>
    <div class="control">
      <div class="dropdown w-3/4">
        <div class="dropdown-trigger w-full">
          <div class="button is-primary flex w-full dropdown-button font-bold" aria-haspopup="true" aria-controls="month-dropdown">
            <span class="flex-grow text-left" id="selected-month">All Months</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </div>
        </div>
        <div class="dropdown-menu w-full" id="month-dropdown" role="menu">
          <div class="dropdown-content">
            <a href="#" class="dropdown-item is-active" data-value="">All Months</a>
            <% Date::MONTHNAMES[1..12].each_with_index do |month_name, month_index| %>
              <a href="#" class="dropdown-item" data-value="<%= month_index + 1 %>"><%= month_name %></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="field flex flex-col flex-grow">
    <%= form.label :filter_quarter, "Filter Quarter", class: "label" %>
    <div class="control">
      <div class="dropdown w-3/4">
        <div class="dropdown-trigger w-full">
          <div class="button is-primary dropdown-button flex w-full ml-auto font-bold" aria-haspopup="true" aria-controls="quarter-dropdown">
            <span class="flex w-fit flex-grow text-left" id="selected-quarter">All Quarters</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </div>
        </div>
        <div class="dropdown-menu w-full" id="quarter-dropdown" role="menu">
          <div class="dropdown-content">
            <a href="#" class="dropdown-item is-active" data-value="">All Quarters</a>
            <% (1..4).each do |quarter| %>
              <a href="#" class="dropdown-item" data-value="<%= quarter %>">Q<%= quarter %></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="field flex flex-col flex-grow">
    <%= form.label :filter_year, "Filter Year", class: "label" %>
    <div class="control">
      <div class="dropdown w-3/4">
        <div class="dropdown-trigger w-full">
          <div class="button is-primary dropdown-button flex w-full ml-auto font-bold" aria-haspopup="true" aria-controls="year-dropdown">
            <span class="flex w-fit flex-grow text-left" id="selected-year">All Years</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </div>
        </div>
        <div class="dropdown-menu w-full" id="year-dropdown" role="menu">
          <div class="dropdown-content">
            <a href="#" class="dropdown-item is-active" data-value="">All Years</a>
            <% Expense.distinct.pluck(:year).each do |year| %>
              <a href="#" class="dropdown-item" data-value="<%= year %>"><%= year %></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="field flex flex-col flex-grow">
    <%= form.label :filter_status, "Filter Status", class: "label" %>
    <div class="control">
      <div class="dropdown w-3/4">
        <div class="dropdown-trigger w-full">
          <div class="button is-primary dropdown-button flex w-full ml-auto font-bold" aria-haspopup="true" aria-controls="status-dropdown">
            <span class="flex w-fit flex-grow text-left" id="selected-status">All Status</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </div>
        </div>
        <div class="dropdown-menu w-full" id="status-dropdown" role="menu">
          <div class="dropdown-content">
            <a href="#" class="dropdown-item is-active" data-value="">All Status</a>
            <% Expense.statuses.keys.each do |status| %>
              <a href="#" class="dropdown-item" data-value="<%= status %>"><%= status.humanize %></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_pack_tag 'user/expenses/filters' %>