<%= form_with(model: @expense, url: expenses_path, class: "expense-form flex flex-col", id: "new_expense_form", multipart: true) do |form| %>
  <div class="flex flex-row w-full justify-between gap-16">
    <div class="field flex-grow">
      <%= form.label :category_id, "Select Category", class: "label required" %>
      <div class="control">
        <%= form.select :category_id, options_for_select(Category.all.collect { |c| [c.name, c.id] }, nil), { include_blank: "Select Category" }, class: "input", id: "category_select" %>
      <%= render "shared/form_error_message", object: @expense, field: :category %>
      </div>
    </div>
    <div class="field flex-grow">
      <%= form.label :subcategory_id, "Select Subcategory", class: "label" %>
      <div class="control">
        <%= form.select :subcategory_id, options_for_select([], nil), { include_blank: "Select Sub-category" }, class: "input", id: "subcategory_select", disabled: true %>
      <%= render "shared/form_error_message", object: @expense, field: :subcategory %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= form.label :date, class: "label required" %>
    <div class="control">
      <%= form.date_field :date, class: "input" %>
    </div>
    <%= render "shared/form_error_message", object: @expense, field: :date %>
  </div>
  <div class="field">
    <%= form.label :amount, class: "label required" %>
    <div class="control has-icons-left">
      <%= form.number_field :amount, class: "input" %>
      <span class="icon is-small is-left">
        <i class="fa-solid fa-indian-rupee-sign"></i>
      </span>
    <%= render "shared/form_error_message", object: @expense, field: :amount %>
    </div>
  </div>
  <div class="field">
    <%= form.label :notes, class: "label" %>
    <div class="control">
      <%= form.text_area :notes, class: "textarea" %>
    <%= render "shared/form_error_message", object: @expense, field: :notes %>
    </div>
  </div>
  <div class="flex items-center justify-between">
    <div class="field">
      <div class="control">
        <div id="attachment-input" class="file has-name flex flex-col">
          <%= form.label :attachment, "Invoice/Bill", class: "label" %>
          <div class="flex ">
            <label class="file-label">
              <%= form.file_field :attachment, class: "file-input", accept: ".pdf,.doc,.docx,.jpg,.jpeg,.png", name: "expense[attachment]" %>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file...
                </span>
              </span>
            </label>
            <span class="file-name flex gap-5 justify-evenly">
              <span>
                No file chosen
              </span>
              <span id="remove_file-button" class="icon cursor-pointer">
                <i class="fa-solid fa-xmark"></i>
              </span>
            </span>
          </div>
        <%= render "shared/form_error_message", object: @expense, field: :attachment %>
        </div>
      </div>
    </div>
    <div class="field is-grouped gap-2">
      <div class="control font-medium">
        <%= form.submit "Create", class: "button is-primary" %>
      </div>
      <div class="control font-medium">
        <%= button_tag "Add Another", class: "button is-info", id: "add_another_button" %>
      </div>
      <div class="control font-medium">
        <%= link_to "Cancel", new_expense_path, class: "button" %>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= javascript_pack_tag 'users/expenses/form' %>
