<div id="category_<%= category.id %>" class="box accordion-item">
  <div class="flex flex-row items-center gap-5 accordion-header">
    <div id="category-header" class="flex flex-row items-center gap-5 flex-grow">
      <div class="flex flex-row items-center gap-5">
        <h3 class="font-bold text-xl flex my-auto accordion-title"><%= category.name %></h3>
        <%= link_to new_admin_category_subcategory_path(category), remote: true do %>
          <span class="icon text-2xl font-bold text-primary">
            <i class="fa-solid fa-plus"></i>
          </span>
        <% end %>
      </div>
      <div id="category_action-control" class="flex flex-row items-center gap-5 ml-auto">
        <%= link_to edit_admin_category_path(category), id: "category_edit-button", remote: true do %>
          <span class="button is-primary is-outlined border-2">
            <span class="icon">
              <i class="fa-solid fa-pen"></i>
            </span>
          </span>
        <% end %>
        <%= link_to admin_category_path(category), method: :delete, data: {confirm: "Are you sure ?"}, id: "category_delete-button", remote: true do %>
          <span class="button is-danger is-outlined border-2">
            <span class="icon">
              <i class="fa-solid fa-trash"></i>
            </span>
          </span>
        <% end %>
      </div>
    </div>
    <button class="ml-auto accordion-toggle">
      <i class="fas fa-chevron-down"></i>
    </button>
  </div>
  <div class="accordion-content mt-4 border-t-2 border-primary" style="display: none;">
    <div id="subcategory_list" class="p-5 flex flex-col gap-5">
      <% category.subcategories.each do |subcategory| %>
        <%= render partial: 'admin/subcategories/subcategory', locals: { subcategory: subcategory } %>
      <% end %>
    </div>
  </div>
</div>

