<div class="modal" id="reject_modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <%= form_with(model: expense, url: rejected_admin_dashboard_path(expense), method: :put, local: false ,class: "reject-form is-danger") do |form| %>
      <header class="modal-card-head">
        <p class="modal-card-title text-2xl font-bold">Reject Expense</p>
        <span class="delete" aria-label="close"></span>
      </header>
      <section class="modal-card-body flex flex-col gap-5">
        <div class="field">
          <%= form.label :rejection_reason, class: "label required"%>
          <div class="control">
            <%= form.text_area :rejection_reason, class: "textarea is-danger"%>
          </div>
          <%= render "shared/form_error_message", object: expense, field: :rejection_reason %>
        </div>
        <div class="field">
          <div class="control">
            <%= form.submit "Reject", class: "button is-danger" %>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</div>
<%= javascript_pack_tag "modal" %>
