<%= form_with(model: @user, url: admin_create_user_path, local: false, id: "invite_user-form", class: "flex w-full items-end gap-10", method: :post) do |form| %>
  <div class="field flex-grow">
    <%= form.label :email, "Enter the Email:" , class: "label" %>
    <div class="control w-3/4 flex gap-10">
      <div class="flex-grow flex flex-col">
        <%= form.text_field :email, class: "input", id: "email-input" %>
        <%= render "shared/form_error_message", object: @user, field: :email %>
      </div>
      <%= form.button(type: :submit, class: "button is-primary") do %>
        <span class="icon-text">
          <span class="icon">
            <i class="fa-solid fa-user-plus"></i>
          </span>
          <span class="font-bold">Invite User</span>
        </span>
      <% end %>
    </div>
  </div>
<% end %>
