<%= content_for :user do %>
  <div class="p-5 flex flex-col w-full h-full overflow-hidden">
    <span class="title">Welcome back, <%= Current.user[:name] %> </span>
    <div class="flex ">
      <%= render "shared/side_navbar" %>
      <div class="section flex flex-col h-full w-full flex-grow overflow-y-auto">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
<script>
  console.log(
    "Application"
  );
</script>
