<%= content_for :user do %>
  <section class="flex flex-col w-full h-full overflow-hidden">
    <h1 class="title mx-2">Welcome back, <%= Current.user[:name] %> </h1>
    <div class="flex flex-row p-2 w-full h-full overflow-hidden">
      <%= render "shared/side-navbar" %>
      <div class="section pt-0 flex flex-col h-full w-full flex-grow overflow-hidden">
        <%= yield %>
      </div>
    </div>
  </section>
<% end %>
<%= render template: "layouts/application" %>
<script>
  $(window).on('load', function() {
    console.log('Reload finished');
  });
</script>
